
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: '';
    padding: 20px;

}
.accordion{
    width: 100%;
    padding: 18px;
    background-color: darkcyan;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    font-size: 16px;

}
.accordion::after{
   content: '\002771';
   float: right;
   transform: rotate(90deg);
   font-weight: bold;
   transition: all 0.5s;

}
.active::after{
    content: '\002771';
    transform: rotate(270deg);
    transition: all 0.5s;
}
.panel{
    background-color: lightblue;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    

}
.accordion:hover, .active{
    background-color: blue;
    
}
.active{
    background-color: blue;

}